<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <meta charset="utf-8">
    <title>Jumo Webapp</title>
  </head>
  <body>

  {{{body}}}

  </body>

</html>
