<!DOCTYPE html>
<form method="get">

  <head>
    <meta charset="utf-8">
    <title>Story Type</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <!-- handlebars -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <!-- navbar -->
      <nav class="navbar navbar-default navBg">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="image-responsive jumoBg" src="images/Jumo.png" alt=""></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
              <form action="/filter" method="get">
<!--                <li><a href="/filter">Admin</a></li>-->
              </form>
              </li>
            </ul>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">


              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
        </div>
      </nav>
      <!-- end navbar  -->
      <!-- media format options -->
      <div class="row">
        <h1 class="catTitle text-center">Pick a medium to share your story</h1>
        <!-- text media format -->
        <div class=" col-md-6 mediaFormat">
          <!-- Trigger the modal with h2 -->
          <h2 data-toggle="modal" data-target="#txt">Text</h2>
          <!-- Trigger the modal with a icon -->
          <i data-toggle="modal" data-target="#txt" class="fa fa-pencil-square-o iconz"></i>

          <!-- Modal -->
          <div class="modal fade" id="txt" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h5 class="modal-title text-center">Text Stories</h5>
                </div>
                <div class="modal-body">
                  <label for="">Title <br><input class="form-group" type="text" name="" value=""></label><br>
                  <label for="">My Story <br><textarea class="form-group" type="text" name="" value=""></textarea></label><br>
                  <label for="">by:<br><input class="form-group col-md-6" placeholder="your name..." type="text" name="" value=""></label><br>
                  <button class="btn btn-success" type="submit" name="button">Send</button>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- video media format -->
        <div class=" col-md-6 mediaFormat">
          <!-- Trigger the modal with a h2 -->
          <h2 data-toggle="modal" data-target="#vid">Video</h2>
          <!-- Trigger the modal with a button -->
          <i data-toggle="modal" data-target="#vid" class="fa fa-video-camera iconz"></i>

          <!-- Modal -->
          <div class="modal fade" id="vid" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title text-center">Upload Video</h4>
                </div>
                <div class="modal-body">
                  <i class="fa fa-upload iconz"></i><br>
                  <!-- <input class="btnz" type="file" name="pic" accept="video/*"><br> -->
                  <!-- <form class="" action="/format-user" method="post"> -->
                    <button class="btn" type="submit" name="button">Upload</button><br><br>
                  <!-- </form> -->

                  <video class="vidz" src="/videos/JUMO.mp4" type="video/mp4" autostart="false" preload="none" autoplay poster="posterimage.jpg" controls muted> </video>
                  <video class="vidz" src="/videos/Why JUMO.mp4" type="video/mp4" autostart="false" preload="none" autoplay poster="posterimage.jpg" controls muted> </video>
                  <video class="vidz" src="/videos/JUMO People.mp4" type="video/mp4" autostart="false" preload="none" autoplay poster="posterimage.jpg" controls muted> </video>

                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
        <!-- row 2 of media formats  -->
        <div class="row">
          <!-- images media format -->
          <div class=" col-md-6 mediaFormat">
            <!-- Trigger the modal with a button -->
            <h2 data-toggle="modal" data-target="#imgz">Images</h2>
            <!-- Trigger the modal with a button -->
            <i data-toggle="modal" data-target="#imgz" class="fa fa-picture-o iconz"></i>

            <!-- Modal -->
            <div class="modal fade" id="imgz" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Image Stories</h4>
                  </div>
                  <div class="modal-body">
                    <i class="fa fa-upload iconz"></i><br>
                    <!-- <input class="btnz" id="uploadInput" type="file" name="pic" accept="image/*"><br> -->

                    <button class="btn" id="vidUploadBtn" type="submit" name="button">Upload</button>
                    <hr>
                    <div class="row">
                      <img src="/images/women1.jpg" class="women" alt="">
                      <img src="/images/women2.jpg" class="women1" alt="">
                      <img src="/images/women3.jpg" class="women" alt="">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ibhushwanan1 media format -->
          <div class=" col-md-6 mediaFormat">
            <!-- Trigger the modal with a button -->
            <h2 data-toggle="modal" data-target="#aud">Audio</h2>
            <!-- Trigger the modal with a button -->
            <i data-toggle="modal" data-target="#aud" class="fa fa-microphone iconz"></i>

            <!-- Modal -->
            <div class="modal fade" id="aud" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Audio Stories</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row ">
                      <div class="audioicons">
                        <i class="fa fa-upload iconz"></i><br>
                        <button class="btn" type="submit" name="button">Upload</button>
                      </div>
                      <div class="audioicons  ">
                        <i class="glyphicon glyphicon-record iconz"></i><br>
                        <button class="btn" type="submit" name="button">Record</button>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="audz">
                        <i class="fa fa-file-audio-o iconz"></i><br><br>
                        <p>Name: Zoe</p>
                        <p>Type: mp3</p>
                        <p>Size: 4MB</p>
                      </div>
                      <div class="audz">
                        <i class="fa fa-file-audio-o iconz"></i><br><br>
                        <p>Name: Joe</p>
                        <p>Type: mp3</p>
                        <p>Size: 4MB</p>
                      </div>
                      <div class="audz">
                        <i class="fa fa-file-audio-o iconz"></i><br><br>
                        <p>Name: Amy</p>
                        <p>Type: mp3</p>
                        <p>Size: 4MB</p>
                      </div>
                      <div class="audz">
                        <i class="fa fa-file-audio-o iconz"></i><br><br>
                        <p>Name: Luu</p>
                        <p>Type: mp3</p>
                        <p>Size: 4MB</p>
                      </div>
                      <div class="audz">
                        <i class="fa fa-file-audio-o iconz"></i><br><br>
                        <p>Name: Mike</p>
                        <p>Type: mp3</p>
                        <p>Size: 4MB</p>
                      </div>
                      <div class="audz">
                        <i class="fa fa-file-audio-o iconz"></i><br><br>
                        <p>Name: Brad</p>
                        <p>Type: mp3</p>
                        <p>Size: 4MB</p>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </body>
  <!-- <head>
        <meta charset="utf-8">
        <title>Story Type</title>
      </head>

      <body>
        <div class="">

        </div>

        {{#if messages.info}}
          <div class="info">
            {{messages.info}}
          </div>
        {{/if}}

        {{#if messages.error}}
          <div class="error">
            {{messages.error}}
          </div>
        {{/if}}

      </body> -->
<!-- <script src="/fileUpload.js" charset="utf-8"></script> -->
</form>
