<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Story Type</title>
</head>

<body>
  <div class="">

  </div>

  {{#if messages.info}}
    <div class="info">
      {{messages.info}}
    </div>
  {{/if}}

  {{#if messages.error}}
    <div class="error">
      {{messages.error}}
    </div>
  {{/if}}

</body>

</html>
