<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Story Type</title>
  </head>
  <body>
    <div class="container">
    <div class="row">
      <!-- text media format -->
      <div class=" glyphicon glyphicon-pencil col-md-6 mediaFormat">

      </div>
      <!-- videos media format -->
      <div class=" glyphicon glyphicon-pencil col-md-6 mediaFormat">

      </div>
    </div>
    <!-- row 2 of media formats  -->
    <div class="row">
      <!-- images media format -->
      <div class="glyphicon glyphicon-facetime-video col-md-6 mediaFormat">

      </div>
      <!-- audio media format -->
      <div class="glyphicon glyphicon-user col-md-6 mediaFormat">

      </div>
    </div>
    </div>
  </body>
</html>
