<form>
  <head>
    <meta charset="utf-8">
    <title>Reasons</title>
  </head>
  <body>

    {{#if messages.info}}
    <div class="info">
      {{messages.info}}
    </div>
  {{/if}}

  {{#if messages.error}}
    <div class="error">
      {{messages.error}}
    </div>
  {{/if}}

  </body>
</form>
