<form>
  <head>
    <meta charset="utf-8">
    <title>Reasons</title>
  </head>
  <body>
    <div class="container">
      <div class=" glyphicon glyphicon-pencil col-md-6 mediaFormat">

      </div>
    </div>
  </body>
</form>
