form {
  background-color: black;
  background-size: cover;
  height: 150%;
  margin: auto;
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif;
}

h2 {
  color: white;
  cursor: pointer;
}

.container-fluid {
  background-color: lightgrey;
}

.jumoBg {
  margin-top: -15px;
  height: 50px;
  widht: 50px;
}

i {
  text-align: center;
  cursor: pointer;
}

.navBg {
  background-color: gold;
}

.sampleVideo {
  border: 2px gold solid;
  border-radius: 5px;
}

.telBtn {
  background-color: gold;
  color: black;
  text-transform: uppercase;
  font-size: 1em;
  margin-right: 2em;
}

.telBtn>a {
  color: black;
  text-decoration: none;
}

.telBtn>a:hover {
  color: black;
  text-decoration: none;
}

.category {
  border: 2px gold solid;
  color: white;
  background-color: black;
  border-radius: 10px;
  height: 100px;
}
.catTitle{
  color:black;
  background-color: gold;
  padding: 5px;
}

input[type='radio'] {
    transform: scale(1.2);
}
.searchInpt {
    border: 1px solid gold;
    border-radius: 4px;
}

h3 {
  color: white;
}

h3>a {
  color: white;
}

h3>a:hover {
  color: white;
  text-decoration: none;
}

.info {
  color: green;
}

.error {
  color: red;
}

.mediaFormat {
  border: 2px gold solid;
  border-radius: 10px;
}

.iconz {
  font-size: 5em;
  color: gold;
}
textarea {
  width: 30em;
  height: 10em;
}
.women {
  width: 200px;
  height: 100px;
  border: 3px gold solid;
  margin-left: 6px;
}
.women1 {
  width: 170px;
  height: 100px;
  border: 3px gold solid;
}
.vidz{
  width: 170px;
  height: 100px;
  border: 3px gold solid;
  margin-left: 10px;
  /*border-radius: 2em;*/
}
.audz{
  border: 2px solid gold;
  width: 80px;
  text-align: left;
  margin-top: 2em;
  margin-left: 13px;
  border-radius: 5px;
  display: inline-block;
}
.audz > i{
  margin-top: 7px;
  margin-left: 7px;
}
.audz > p{
  background-color: lightgrey;
  color: black;
  margin-bottom: 0px
}
.audioicons{
  display: inline-block;
  margin-left: 150px;
}
