form {
background-color: black;
}
.container-fluid {
background-color: lightgrey;
}
.jumoBg{
  margin-top: -15px;
  height: 50px;
  widht: 50px;
}
.navBg{
  background-color: gold;
}
.sampleVideo{
  border: 2px gold solid;
  border-radius: 5px;
}
.telBtn{
  background-color: gold;
  color: black;
  text-transform: uppercase;
  font-size: 1em;
}
.telBtn > a{
  color: black;
  text-decoration: none;
}
.telBtn > a:hover{
  color: black;
  text-decoration: none;
}
.category{
  border: 2px gold solid;
  color: white;
  background-color: black;
  border-radius: 10px;
  height: 100px;
}
h3 > a {
  color: white;
}
h3 > a:hover {
  color: white;
  text-decoration: none;
}
.
